Checks: '-*,clang-diagnostic-*,misc-*,-misc-non-private-member-variables-in-classes,-misc-unused-parameters,readability-identifier-naming,readability-braces-around-statements,readability-redundant-string-cstr,readability-redundant-string-init,readability-misleading-indentation,readability-inconsistent-declaration-parameter-name,performance-*,modernize-use-override,modernize-use-nullptr,bugprone-*'
CheckOptions:
  - key:             readability-identifier-naming.ClassCase
    value:           CamelCase
  - key:             readability-identifier-naming.ClassMethodCase
    value:           camelBack
  - key:             readability-identifier-naming.EnumCase
    value:           CamelCase
  - key:             readability-identifier-naming.FunctionCase
    value:           camelBack
  - key:             readability-identifier-naming.MemberSuffix
    value:           _
  - key:             readability-identifier-naming.UnionCase
    value:           CamelCase
  - key:             readability-braces-around-statements
    value:           0
