[submodule "dumpi"]
	path = dumpi
	url = https://github.com/jjwilke/dumpi.git
[submodule "sumi"]
	path = sumi
	url = https://github.com/jjwilke/sumi.git
[submodule "sprockit"]
	path = sprockit
	url = git@github.com:jjwilke/sprockit.git
