# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.h.in
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1

sst-macro.creator
sst-macro.files
sst-macro.creator.user
sst-macro.includes
sst-macro.config

sprockit/configure
sumi/configure

sprockit/sprockit/sprockitconfig-generated.h.in
sumi/sumi/sumiconfig-generated.h.in
sprockit/sprockit/sprockitconfig-generated.h.in~
sumi/sumi/sumiconfig-generated.h.in~

autom4te.cache
acinclude/libtool.m4
acinclude/ltoptions.m4
acinclude/ltsugar.m4
acinclude/ltversion.m4
acinclude/lt~obsolete.m4
sprockit/acinclude/libtool.m4
sprockit/acinclude/ltoptions.m4
sprockit/acinclude/ltsugar.m4
sprockit/acinclude/ltversion.m4
sprockit/acinclude/lt~obsolete.m4
sumi/acinclude/libtool.m4
sumi/acinclude/ltoptions.m4
sumi/acinclude/ltsugar.m4
sumi/acinclude/ltversion.m4
sumi/acinclude/lt~obsolete.m4
aclocal.m4
sprockit/bin/config.guess
sprockit/bin/config.sub
sprockit/bin/depcomp
sprockit/bin/install-sh
sprockit/bin/ltmain.sh
sprockit/bin/missing
sprockit/bin/py-compile
sprockit/bin/ar-lib
sprockit/bin/compile
sumi/bin/config.guess
sumi/bin/config.sub
sumi/bin/depcomp
sumi/bin/install-sh
sumi/bin/ltmain.sh
sumi/bin/missing
sumi/bin/py-compile
sumi/bin/ar-lib
sumi/bin/compile
bin/config.guess
bin/config.sub
bin/depcomp
bin/install-sh
bin/ltmain.sh
bin/missing
bin/py-compile
bin/ar-lib
bin/compile

tests/reference/upd
sstmac/common/config.h.in
sstmac/common/config.h.in~

docs/developer/developer.aux
docs/developer/developer.log
docs/developer/developer.out
docs/developer/developer.pdf
docs/developer/developer.synctex.gz
docs/developer/developer.toc
docs/manual/index.html
docs/manual/manual.aux
docs/manual/manual.log
docs/manual/manual.out
docs/manual/manual.pdf
docs/manual/manual.synctex.gz
docs/manual/manual.toc

*.pyc

sstmac_repo.h
